{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- Beginning of Partial that I deleted in order to introduce the Resize function -->

{{ $img := .Params.heroBackground }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1250 := $res.Resize "1250x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style type="text/css">
  @media (max-width: 700px) {
  .bg-image {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-image {
  background-image: url('{{ $bg950.RelPermalink }}');
    }
  }
    @media (min-width: 992px) {
  .bg-image {
  background-image: url('{{ $bg1250.RelPermalink }}')
    }
  }
  @media (min-width: 1300px) {
  .bg-image {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<div id="hero" class="bg-image hero-image hero-image-setheight" role="img" aria-label="image hero de AOGW">
  <div class="container ">
    <div class="hero-text">
      <span class="hero-section">{{ .Params.section }}</span>
      <h1 style="text-shadow: 3px 0 0 #ffffff, 0 -3px 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff; max-width: fit-content;">{{ .Params.heroHeading }}</h1>
      <p style="text-shadow: 3px 0 0 #ffffff, 0 -3px 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff; max-width: fit-content;">{{ .Params.summary }}</p>
    </div>
  </div>
</div>
  
<!-- End of Partial that I deleted in order to introduce the Resize function -->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mt-5 ml-6">
      {{ .Content }}
      <ul>
        <li class="mb-2"><img height="80" width="80" src="{{ .Params.iconPhone | relURL }}" alt="{{ .Params.altPhone }}" class="mr-2"/>{{ .Site.Data.contact.phone }}</li>
        <li><img height="80" width="80" src="{{ .Params.iconEmail | relURL }}" alt="{{ .Params.altEmail }}" class="mr-2"/><a href="mailto:{{ .Site.Data.contact.email }}">
            {{ .Site.Data.contact.email }}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-lg-12 col-md-8 my-5 p-5">
      <form action="https://formspree.io/f/mayvdvop" method="POST" accept-charset="UTF-8">
        <div class="col-lg-12 my-1">
          <input type="text" name="name" id="name" class="form-control" placeholder="Votre Nom" required>
        </div>
        <div class="col-lg-12 my-1">
          <input type="email" class="form-control" name="email" id="email" placeholder="Votre Adresse Email" required>
        </div>
        <div class="col-lg-12 my-1">
          <input type="tel" class="form-control" name="phone" id="email" placeholder="Votre Téléphone (facultatif)">
        </div>
        <div class="col-lg-12 my-1">
          <input type="text" name="subject" id="subject" class="form-control" placeholder="Sujet" required>
        </div>
        <div class="col-lg-12 my-1">
          <textarea class="form-control p-2" name="message" id="message" placeholder="Parlez-moi ici de vos besoins actuels" required
            style="height: 150px;"></textarea>
        </div>
        <div class="col-lg-12 my-2">
          <button class="button" type="submit">Envoyer</button>
        </div>
     </form>
    </div>
  </div>
</div>

{{ end }}
