
.logo {
  display: block;
  width: 120px;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    width: 200px;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
