{{ define "main" }}

<style>
	.image-404 {
	background-image: url('assets/img/404-page.jpg');
	}
</style>

{{ "<!-- 404 page -->" | safeHTML }}
<div class="image-404 hero-image hero-image-fullscreen" role="img" aria-label="image hero de AOGW">
	<div class="container">
	  <div class="hero-text">
		<span class="hero-section"></span>
			  <h1 style="text-shadow: 3px 0 0 #ffffff, 0 -3px 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff; max-width: fit-content;">Oh oh !</h1>
		<p style="text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -3px 0 0 #ffffff;; max-width: fit-content;">Désolé mais cette page est introuvable.</p>
		<a href="{{ site.BaseURL | relLangURL }}" class="btn btn-primary"> <i class="ti-angle-double-left"></i>Retour à l'accueil</a>
	</div>
	</div>
  </div>
  {{ "<!-- /404 page -->" | safeHTML }}

{{ end }}