{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta property="og:site_name" content="{{ $.Site.Title }}" />
<meta property="og:title" content="{{ $.Site.Title }}" />
{{ if .IsPage }}
  <title>{{ .Title }} | {{ $.Site.Title }}</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="description" content="{{ .Description }}" />
{{ else }}
  <title>{{ $.Site.Title }}</title>
  <meta property="og:title" content="{{ $.Site.Title }}" />
  <meta property="og:description" content="{{ site.Params.description }}" />
  <meta name="description" content="{{ site.Params.description }}" />
{{ end }}
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "backgroundsm" .Params.heroBackgroundsm "backgroundmd" .Params.heroBackgroundmd "backgroundlg" .Params.heroBackgroundlg "backgroundxl" .Params.heroBackgroundxl "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
{{ end }}

{{ $prestations := where (where .Site.RegularPages "Type" "prestations") ".Params.featured" true }}
{{if gt (len $prestations) 0}}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-4 presta">
      <h2 class="text-center" style="color:#206dba;"></h2>
    </div>
    <div class="col-4 service-malin">
    <h2 class="text-center mb-3"><a href="https://www.servicemalin.com/v/kmxAYmJAwTQZ" target="blank"><img width="120" height="120" src="social/verifie.png" title="Mon profil chez Service Malin" alt="Mon profil chez Service Malin"/></a></h2>
  </div>
    {{ range first 6 (sort $prestations ".Params.weight") }}
    <div class="col-12 col-md-6 mb-5 pt-3">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">Consulter mes Prestations</a>
    </div>
  </div>
</div>
{{end}}

{{ range first 1 (after 1 $reusablePages) }}
<div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
        <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
