<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
  <link as="style" rel="stylesheet preload prefetch" href="https://fonts.googleapis.com/css?family=Lato:400|Open+Sans:400,700" type="text/css" crossorigin="anonymous">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <meta name="google-site-verification" content="dcGStG1KYmpmwTl_OJrZEQhL0QcFotHpFnX5afNTeo8" />

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "main-menu-mobile.html" . }}
  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}


  {{ partial "google-analytics.html" . }}


</body>
</html>