{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- Beginning of Partial that I deleted in order to introduce the Resize function -->

{{ $img := .Params.heroBackground }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1250 := $res.Resize "1250x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style type="text/css">
  @media (max-width: 700px) {
  .bg-image {
  background-image: url('{{ $bg550.RelPermalink }}');
  background-position: 50% 50%;
    }
  }
  @media (min-width: 701px) {
  .bg-image {
  background-image: url('{{ $bg950.RelPermalink }}');
  background-position: 50% 50%;
    }
  }
    @media (min-width: 992px) {
  .bg-image {
  background-image: url('{{ $bg1250.RelPermalink }}')
    }
  }
  @media (min-width: 1300px) {
  .bg-image {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }

#about-blue {
  background: #206DBA;
  width: calc(100vw - 20px); 
}

#about-blue h1 h2 h3 h4 h5 h6 {
  color: white;
}

#about-blue p {
  color: white;
}

#about-blue .btn-primary {
  background-color: #0056b3;
  border-color: #00408a;
  padding: 0.75rem 1.5rem;
}

#about-blue .btn-primary:hover {
  background-color: #00408a;
}

#about {
  background: white;
}

#about h2 {
  color: #333;
}

#about p {
  color: #555;
}

#about .btn-primary {
  background-color: #0056b3;
  border-color: #00408a;
  padding: 0.75rem 1.5rem;
}

#about .btn-primary:hover {
  background-color: #00408a;
}

</style>

<div id="hero" class="bg-image hero-image hero-image-setheight hero-image-blend-overlay" role="img" aria-label="image hero de AOGW">
  <div class="container ">
    <div class="hero-text">
      <span class="hero-section">{{ .Params.section }}</span>
      <h1 style="max-width: fit-content;color:white">{{ .Params.heroHeading }}</h1>
      <p style="max-width: fit-content;color:white">{{ .Params.heroSubHeading }}</p>
    </div>
  </div>
</div>
  
<!-- End of Partial that I deleted in order to introduce the Resize function -->

{{ $headless := .Site.GetPage "/pages/quisuisje" }}
{{ $subpages := $headless.Resources.ByType "page" }}
{{ $subpages := sort $subpages ".Params.weight" }}
{{ range $subpages }}
<div class="strip bg-cover bg-position-top bg-overlay" id="{{ if eq .Params.align "blue" }}about-blue{{ else }}about{{ end }}" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-5 pb-0" id="{{ if eq .Params.align "blue" }}about-blue{{ else }}about{{ end }}" style="color:rgb(255, 255, 255)">
    <div class="row">
      <div class="col-12">
        <h2 class="text-capitalize">{{ .Title }}</h2>
        {{ .Content }}
        {{ if .Params.button }}
          <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
