{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- Beginning of Partial that I deleted in order to introduce the Resize function -->

{{ $img := .Params.heroBackground }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1250 := $res.Resize "1250x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style type="text/css">
  @media (max-width: 700px) {
  .bg-image {
  background-image: url('{{ $bg550.RelPermalink }}');
  background-position: 50% 50%;
    }
  }
  @media (min-width: 701px) {
  .bg-image {
  background-image: url('{{ $bg950.RelPermalink }}');
  background-position: 50% 50%;
  }
}
    @media (min-width: 992px) {
  .bg-image {
  background-image: url('{{ $bg1250.RelPermalink }}')
    }
  }
  @media (min-width: 1300px) {
  .bg-image {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<div id="hero" class="bg-image hero-image hero-image-setheight hero-image-blend-overlay" role="img" aria-label="image hero de AOGW">
  <div class="container ">
    <div class="hero-text">
      <span class="hero-section">{{ .Params.section }}</span>
      <h1 style="max-width: fit-content;color:white">{{ .Params.heroHeading }}</h1>
      <p style="max-width: fit-content;color: white;">{{ .Params.summary }}</p>
    </div>
  </div>
</div>
  
<!-- End of Partial that I deleted in order to introduce the Resize function -->

{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}


<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}