{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<!-- Beginning of Partial that I deleted in order to introduce the Resize function -->

{{ $img := .Params.heroBackground }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1250 := $res.Resize "1250x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style type="text/css">
  @media (max-width: 700px) {
  .bg-image {
  background-image: url('{{ $bg550.RelPermalink }}');
  background-position: 50% 50%;
    }
  }
  @media (min-width: 701px) {
  .bg-image {
  background-image: url('{{ $bg950.RelPermalink }}');
  background-position: 50% 50%;
    }
  }
    @media (min-width: 992px) {
  .bg-image {
  background-image: url('{{ $bg1250.RelPermalink }}')
    }
  }
  @media (min-width: 1300px) {
  .bg-image {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<div id="hero" class="bg-image hero-image hero-image-setheight hero-image-blend-overlay" role="img" aria-label="image hero de AOGW">
  <div class="container ">
    <div class="hero-text" style="margin-top:-10%">
      <span class="hero-section">{{ .Params.section }}</span>
      <h1 style="color:white;max-width:fit-content;">{{ .Params.heroHeading }}</h1>
      <p style="color:white;max-width:fit-content;">{{ .Params.summary }}</p>
    </div>
  </div>
</div>
  
<!-- End of Partial that I deleted in order to introduce the Resize function -->

<div class="container pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "assets/js/libs/library.js" }}
{{ $services := resources.Get "assets/js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "assets/js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}