/* ===== raleway-v34-latin ===== */
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-100.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-100-italic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-200.woff2') format('woff2');
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-200-italic.woff2') format('woff2');
        font-weight: 200;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-300-italic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-300.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-500.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-500-italic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-600.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-600-italic.woff2') format('woff2');
        font-weight: 600;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-700-italic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-700.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-800.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-800-italic.woff2') format('woff2');
        font-weight: 800;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-900.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'raleway-v34-latin';
        src: url('/assets/fonts/raleway-v34-latin/raleway-v34-latin-900-italic.woff2') format('woff2');
        font-weight: 900;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }

/* ===== lora-v35-latin ===== */
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-500.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-500-italic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-600-italic.woff2') format('woff2');
        font-weight: 600;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-700-italic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-700.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lora-v35-latin';
        src: url('/assets/fonts/lora-v35-latin/lora-v35-latin-600.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }