<style type="text/css">

  @media (max-width: 576px) {
  .bg-image {
  background-image: url('{{ .backgroundsm | relURL }}');
  }
}

  @media (min-width: 577px) {
  .bg-image {
  background-image: url('{{ .backgroundmd | relURL }}');
  }
}

  @media (min-width: 992px) {
  .bg-image {
  background-image: url('{{ .backgroundlg | relURL }}')
    }
  }

  @media (min-width: 1300px) {
  .bg-image {
  background-image: url('{{ .backgroundxl | relURL }}')
    }
  }
  
</style>
<div id="hero" class="bg-image hero-image hero-image-setheight" role="img" aria-label="image hero de AOGW">
  <div class="container ">
    <div class="hero-text">
      <span class="hero-section">{{ .section }}</span>
      <h1 style="backdrop-filter: blur(14px) brightness(80%); max-width: fit-content;">{{ .heading }}</h1>
      <p style="backdrop-filter: blur(14px) brightness(80%); max-width: fit-content;">{{ .subheading }}</p>
    </div>
  </div>
</div>
  