{{ $data := index .Site.Data }}
{{- with $data.homepage.hero }}

{{ $img := $data.homepage.hero.heroBackground }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "650x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1250 := $res.Resize "1250x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style type="text/css">
    @media (max-width: 700px) {
      .bg-hero-image {
      background-image: url('{{ $bg550.RelPermalink }}');
      background-position: 50% 100%;
      }
      h1 {
        position: absolute;
        top: 30%;
        font-size: 36px !important;
      }
      p {
        position: absolute;
        top: 80%;
        font-size: 24px !important;
      }
    }
    @media (min-width: 701px) {
    .bg-hero-image {
    background-image: url('{{ $bg950.RelPermalink }}');
    background-position: 50% 100%;
      }
      h1 {
        position: absolute;
        top: 30%;
        font-size: 64px !important;
      }
      p {
        position: absolute;
        top: 80%;
        font-size: 40px !important;
      }
    }
    @media (min-width: 992px) {
    .bg-hero-image {
    background-image: url('{{ $bg1250.RelPermalink }}')
      }
    }
    @media (min-width: 1300px) {
    .bg-hero-image {
    background-image: url('{{ $bg1700.RelPermalink }}')
      }
    }
</style>

<div class="bg-hero-image hero-image hero-image-fullscreen" role="img" aria-label="image hero de AOGW">
  <div class="container" style="max-width:90vw">
    <div class="hero-text">
        <h1 style="text-shadow: 3px 0 0 #ffffff, 0 -3px 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff; max-width: fit-content">{{ .heroHeading | markdownify }}</h1>
    </div>
    <div class="hero-text">
        <p style="text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -3px 0 0 #ffffff;; max-width: fit-content">{{ .heroSubHeading | markdownify }}</p>
    </div>
  </div>
</div>

{{ end }}