<style type="text/css">

    @media (max-width: 576px) {
    .bg-hero-image {
    background-image: url('{{ .backgroundsm | relURL }}');
    }
  }

    @media (min-width: 577px) {
    .bg-hero-image {
    background-image: url('{{ .backgroundmd | relURL }}');
    }
  }

    @media (min-width: 992px) {
    .bg-hero-image {
    background-image: url('{{ .backgroundlg | relURL }}')
      }
    }

    @media (min-width: 1300px) {
    .bg-hero-image {
    background-image: url('{{ .backgroundxl | relURL }}')
      }
    }
    
</style>

<div class="bg-hero-image hero-image hero-image-fullscreen" role="img" aria-label="image hero de AOGW">
  <div class="container">
    <div class="hero-text">
      <span class="hero-section">{{ .section }}</span>
      <h1 style="text-shadow: 3px 0 0 #ffffff, 0 -3px 0 #ffffff, 0 3px 0 #ffffff, -3px 0 0 #ffffff; max-width: fit-content;">{{ .heading }}</h1>
      <p style="text-shadow: 1px 0 0 #ffffff, 0 -1px 0 #ffffff, 0 1px 0 #ffffff, -3px 0 0 #ffffff;; max-width: fit-content;">{{ .subheading }}</p>
    </div>
  </div>
</div>